body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    margin:0;
}
.Header{
    background-color: rgb(211, 51, 131);
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Header img{
    height: 70px;
}
.Links{
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: space-around;
}
.Contenedor{
    background-color: rgb(211, 115, 179);
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(228, 144, 231);
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}
.Formulario label{
    margin: 5px;
    width: 100%;
}

.Formulario label input, select{
    width: 100%;
}
#personas{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.Persona{
    display:flex;
    position:relative;
    flex-direction: column;
    margin:5px;
    padding:10px;
    border-radius:10px;
    background-color: white;
}
.EliminarPersona{
    position:absolute;
    right:5px;
    top:5px;
    background-color: red;
    border-radius: 50%;
    padding:5px 10px;
    cursor:pointer;
}
.persona span{
    margin: 10px 20px;
}
.Boton{
    padding: 5px 10px;
    margin:5px;
    background-color: #c9459d;
    border-radius: 15px;
    cursor:pointer;
}
.Eliminar{
    background-color: white;
}
.Footer{
    background-color: rgb(211, 51, 131);
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Footer img{
    height: 40px;
}
.Footer a{
    margin:0 15px;
}